{% extends 'TrismegisteFrontBundle:Blog:read.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/trismegistefront/js/wysihtml5-0.3.0.min.js') }}"></script>
{{ parent() }}
<script src="{{ asset('bundles/trismegistefront/js/bootstrap-wysihtml5-0.0.2.min.js') }}"></script>
<script>
$(document).ready(function() {
    $('#article_body').wysihtml5({ "font-styles": false })
})
</script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/trismegistefront/css/bootstrap-wysihtml5-0.0.2.css') }}"/>
<style>
    .fullsize {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="row-fluid">
<form action="{{ path('blog_edit') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form.title, {'attr': {'class': 'fullsize', 'style': "font-size: 31.5px; height: 40px"}}) }}
    {{ form_widget(form.body, {'attr': {'rows': 8, 'class': 'fullsize'}}) }}
    {{ form_rest(form) }}
    <input type="submit" />
</form>
</div>
{{ parent() }}
{% endblock %}
