{% extends '::base.html.twig' %}

{% block content %}
<form action="{{ path('customer_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>


<table>
    <tr>
        <th>id</th>
        <th>subdomain</th>
        <th>pwd</th>
    </tr>
{% for customer in listing %}
        <tr>
            <td>{{ customer._id }}</td>
            <td>{{ customer.subdomain }}</td>
            <td>{{ customer.password }}</td>
        </tr>
{% endfor %}
</table>
{% endblock %}
